.slide {
    height: 520px;
    width: 100%;
    /*background: #e1c4e2;*/
}

.slide1_block {
    width: 700px;
    width: 100%;
 
}

.slide2_block {
    width: 700px;
    width: 100%;
}

.slide3_block {
    width: 700px;
    width: 100%;
}

.slide_1 {
    margin: 0 auto;

}

.slide_2 {
    margin: 0 auto;
 

}

.slide_3 {
    margin: 0 auto;


}