.Footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    color: rgb(255, 255, 255);
    background: #0f0f0f;
}

.Footer1 {
    width: 90%;
    height: 90px;
    display: flex;
    margin: 0 auto;
    /*background: #523838;*/
}

/*ーーーーーーーーーーーーーーーーーーーーーーFooter_leftーーーーーーーーーーーーーーーーーーーーーーーーー*/

.Footer_left {
    display: flex;
    margin-right: auto;
    align-items: center;
    /*background: #2faa58;*/ 
    width: 50%;
    font-size: 12px;
}

/*ーーーーーーーーーーーーーーーーーーーーーーHeader_rightーーーーーーーーーーーーーーーーーーーーーーー*/

.Footer_right {
    display: flex;
    margin-left: auto;
    /*background: #4a2faa; */
    align-items: center;
    width: 50%;
}

.Footer_Youtube {
    /*background: #2f91aa; */
    margin-left: auto;
    width: 40px;
    height: 25px;
    filter: invert(100%);
}

.Footer_inst {
    /*background: #4b4608; */
    width: 40px;   
    height: 25px;
    filter: invert(100%);
}

.Footer_Twitter {
    /*background: #aa2f54; */
    width: 40px;
    height: 25px;
    filter: invert(100%);
}