.Header {
    
    width: 100%;
    height: 160px;
    background: #bca4bd;
}



.Header1 {
    /*background: #2faa58; */
    width: 75px;
    margin: 0 auto;
    
}


.Header2 {
    /*background: #504853; */
    width: 95%;
    display: flex;
    margin: 0 auto;
    
}
/*ーーーーーーーーーーーーーーーーーーーーーーHeader_leftーーーーーーーーーーーーーーーーーーーーーーーーー*/
.Header_left {
    display: flex;
    margin-right: auto;
    filter: invert(100%);
    /*background: #2faa58; */
    width: 50%;
}

.Header_Home {
    /*background: #aa9e2f; */
    font-size: 20px;
    width: 80px;  
}

.Header_Media {
    /*background: #2f4428; */
    font-size: 20px;
    width: 80px;   
}

.Header_Comments {
    /*background: #aa792f; */
    font-size: 20px;
    width: 110px;
}

/*ーーーーーーーーーーーーーーーーーーーーーーHeader_rightーーーーーーーーーーーーーーーーーーーーーーー*/
.Header_right {
    display: flex;
    margin-left: auto;
    /*background: #4a2faa; */
    filter: invert(100%);
    width: 50%;
}

.Header_Youtube {
    /*background: #2f91aa; */
    margin-left: auto;
    
    width: 50px;  
}

.Header_inst {
    /*background: #4b4608; */
    
    width: 50px;   
}

.Header_Twitter {
    /*background: #aa2f54; */
    
    width: 50px;
}
/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/



